* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0px auto;
  max-width: 650px;
}

header {
  background-size: cover;
  background-image: url("images/andre-tan-THJJRUhNlEc-unsplash.jpg");
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  height: 208px;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 800;
}

header h1 {
  font-size: 43px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.045em;
  text-align: justified;
}

header a {
  text-decoration: none;
  color: white;
}

main {
  background-color: #121212;
  height: 100vh;
}
.search-movie {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: #2e2e2f;
  position: relative;
  border: none;
  border-radius: 6px;
  bottom: 1.5rem;
}

.movie-input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: #2e2e2f;
  color: rgba(255, 255, 255, 0.883);
  font-weight: 600;
}

.movie-input:focus {
  outline: none;
}

.search-btn {
  height: 100%;
  padding: 1em 2em;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #6d6d6d;
  font-weight: 600;
}

.fa-solid {
  padding: 1em;
  color: white;
}

.search-results,
.watchlist {
  height: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.movie-poster {
  width: 10px;
}

.movie {
  border-bottom: 1px solid rgb(108, 107, 107);
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1rem auto auto auto 1rem;
  grid-template-areas:
    ". . . . "
    "poster title title title "
    "poster runtime genres add-to-watchlist"
    "poster plot plot plot"
    ". . . . ";
  gap: 10px;
  font-family: Inter;
}

.movie:last-child {
  border-bottom: none;
}

.movie-poster {
  grid-area: poster;
  width: 100px;
  border: 1px solid snow;
}

.movie-title {
  display: flex;
  grid-area: title;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: justified;
}

.movie-rating {
  grid-area: title;
  margin-left: 10px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.movie-runtime {
  grid-area: runtime;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.movie-genre {
  grid-area: genres;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.movie-wishlist {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: end;
  grid-area: add-to-watchlist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.movie-wishlist img {
  width: 16px;
  height: 16px;
}
.movie-about {
  grid-area: plot;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
